
.panel-group .panel-heading a:after {
  content: '-';
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.medium-3{
  width:22%;
}
.switch
{
  position: relative;
  margin-bottom:-1px;
  display: inline-block;
  width: 30px;
  height: 12px;
}

.switch input
{
  display: none;
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
  position: absolute;
  content: "";
  height: 8px;
  width: 13px;
  left: 2px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider
{
  background-color: #2196F3;
}

input:focus + .slider
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */

.slider.round
{
  border-radius: 10px;
}

.slider.round:before
{
  border-radius: 60%;
}

.ec-menu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.ec-submenu>.ec-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.ec-submenu:hover>.ec-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
  margin-top: 5px;
  margin-right: -10px;
}

.ec-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.ec-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.ec-submenu.pull-left>.ec-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    display: none;
  }

  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
    display: block;
  }

  ul.ec-menu {
    display: none;
  }

  ul.nav li.economics:hover ul.ec-menu {
    display: block;
  }

  ul.nav li.economics ul.ec-menu li.ec-submenu ul.ec-menu {
    display: none;
  }

  ul.nav li.economics ul.ec-menu li.ec-submenu:hover ul.ec-menu {
    display: block;
  }
}

#image {
  width: 300px;
  height: auto;
  text-align: left;
  right: 100px;
}

#menu {
  border-style: solid;
}

#compare {
  border-style: solid;
}

#title {
  border-style: solid;
  font-size: 40px;
  margin-right: 400px;
  /*margin-bottom: 100px;*/
  text-align: center;
  /*bottom: 100px;*/
  /*left: 100px;*/
  width: 400px;
  height: auto;
  /*!*position: relative;*!*/
}

#graphs {
  left: 488px;
  border-style: solid;
}

#info {
  left: 487px;
  border-style: solid;
}

div.header.header {
  padding: 100px 100px 100px 100px;
  display: inline;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2980B9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #dddddd;
}

/*.show {display: block;}*/


ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: black;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: #eeeeee;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color:rgb(143, 143, 143); background-color: rgba(143, 143, 143, 0.68);}

/* Create an active/current tablink class */
ul.tab li a[target] {background-color:rgb(67, 167, 199);background-color: rgba(67, 167, 199, 1);}


/* Style the tab content */
.tabcontentLeft {
  display: none;
  padding: 6px 11px;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  height: 100%;
  top: 38px;
  position: fixed;
  background: rgba(46,74,110,0.6);
  color: #FFFFFF;
  width: 20.5%;
  left: 0;
  overflow: auto;
  /*margin: 50px auto 0 auto;*/
}

.tabcontentRight {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100%;
  top: 38px;
  position: fixed;
  background: rgb(46, 74, 110);
  background: rgba(46,74,110,0.5);
  color: #FFFFFF;
  width: 15%;
  right: 0;
  overflow: auto;
  /*margin: 50px auto 0 auto;*/
}

.tabcontentInfo {
  font-size: 10px;
  display: none;
  height: 100%;
  top: 95px;
  position: fixed;
  color: #FFFFFF;
  width: auto;
  overflow: auto;
}

.tabcontentSpecial {
  width: 0;
  height: 0;
  display: none;
}

.tabcontentGraphs {
  display: none;
  top: 95px;
  position: fixed;
  color: #FFFFFF;
  overflow: hidden;
}

@font-face {
  font-family: 'megrim';
  src: url('./new_eq_app_files/Megrim.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('./new_eq_app_files/Helvetica Light.ttf') format('truetype');
}

.logo{
  font-family: 'megrim', Fallback, sans-serif;
  font-size: 16px;
}

.containerFont {
  font-family: 'Helvetica Light', Fallback, sans-serif;
}

.smallRule {
  border: 1px solid #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
}

.leftTabPadding {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.tourButtonsUP {
  position: fixed;
  bottom: 5%;
  /*right: 48%;*/
  height: 5%;
}

.tourButtonsDOWN {
  position: fixed;
  bottom: 5%;
  right: 50%;
  height: 5%;
}